body{
    margin: 0;
}
.chinese{
    font: normal normal normal 24px/36px Noto Sans;
}
.title-font{
    font: normal normal normal 32px/43px Noto Sans;
}
.container{
    width: 1200px;
    margin: auto;
}
.title{
    width: 264px;
    height: 188px;
    font: normal normal normal 80px/94px Roboto;
    margin-top: 47px;
}
.hr-t{
    margin: 17px 0 48px;
    background-color: black;
}
.pic{
    width: 324px;
    height: 324px;
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week1/photo.png);
    margin-bottom: 58px;
}
.profile{
    width: max-content;
    display: flex;
    align-items: center;
}
.profile span:nth-child(1){
    margin-right: 16px;
}
.profile span:nth-child(2){
    height: 100%;
    font: normal normal medium 24px/28px Roboto;
    color: #A00404;
}
.hr-p{
    margin: 8px 0 16px;
    border-width: 0.5px;
    background: #000;
}